<% tariff_zones = @zc.tariff_zones %>

<div class="span5">
<h4>Included Tariff Zones</h4>
<table class="table table-hover" id="tariff-zones">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th class="pull-right">Description</th>
    </tr>
  </thead>
  <tbody>
    <% tariff_zones.each_with_index do |tz, index| %>
    <tr <%= 'class=info' if index == 0 %>
        data-target="<%= tz.tariff_zone_code %>">
      <td><%= tz.tariff_zone_code %></td>
      <td><%= tz.name %></td>
      <td>
        <% if tz.descriptive_text %>
        <i class="hover icon-list-alt pull-right" data-role="show-popover" data-placement="top" 
        data-content="<%= tz.descriptive_text %>" data-original-title="<%= tz.name %>" tabindex="0"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="span5">
<h4>Zonal Components</h4>
<% tariff_zones.each_with_index do |tz, index| %>
  <%= render "zonal_components", :tariff_zone => tz, :index => index %>
<% end %>
</div>
