<h2>Search Price Plan</h2>

<div class="well">

  <form class="span5 form-horizontal" method="get">
    <input type="text"
      class="input-large"
      placeholder="Price Plan Code"
      name="price_plan_code"
      value="<%=session[:price_plan_code]%>" >
    <input type="text"
      class="input-large"
      placeholder="Name"
      name="name"
      value="<%=session[:name]%>" >
    <div class="btn-group">
      <button class="btn" type="button" data-role="clear-form"><i class="icon-remove"></i></button>
      <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th/>
        <th><%=sortable @price_plans, "Code", "price_plan_code" %></th>
        <th><%=sortable @price_plans, "Name", "name" %></th>
      </tr>
    </thead>
    <tbody>
      <% @price_plans.each do |pp| %>
        <tr>
	  <td>
            <%= link_to price_plan_path(pp.price_plan_version_id),
              method: :delete, data: { confirm: "Are you sure you want to delete this price plan?" } do %>
              <i class="icon-trash hover"> </i>
            <% end %>
	  </td>
          <td><%= link_to pp.price_plan_code, edit_price_plan_path(:id => pp.price_plan_version_id) %></td>
          <td><%= link_to pp.descriptive_text, edit_price_plan_path(:id => pp.price_plan_version_id)  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <div class="table-footer span3">
      <%= form_tag({:controller=>:price_plans, :action=>:index}, :method=>:get) do %>
        <%= select_tag( "amount",
                        options_from_collection_for_select(pagination_options, :last, :first, session[:feedback_amount]),
                        :class => "input-mini",
                        data: {role: "pagination-amount"} )%>
      <% end %>
    </div>
    <%= paginate @price_plans %>
  </div>
</div>
