<table class="table table-striped table-hover">
  <tr>
    <th></th>
    <th>Code</th>
    <th>Name</th>
    <th>Mandatory</th>
    <th>Max # of Subscriptions</th>
    <th>Description</th>
  </tr>
  
  <% @product.services.each_with_index do |service, index| %>
    <tr>
      <td>
        <i class="icon-sitemap hover" data-toggle="modal" data-target="#service-association-<%=index%>" title="View relationships" tabindex="0"></i>
        <div id="service-association-<%=index%>" class="modal hide fade modal-wide" tabindex="-1" role="dialog">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel"><%= service.service_code %> - <%= service.name %></h3>
          </div>
          <div class="modal-body">
            <%= render "service_relationships",
                  services: @product.services,
                  associated_services: service.associated_services %>
          </div>
        </div>
      </td>
      <td><%= link_to service.service_code, edit_service_path(service.service_code, version: service.service_version_code) %></td>
      <td><%= service.name %></td>
      <td><%= service.product_subscription_rule == "M" %></td>
      <td><%= service.maximum_subscriptions %></td>
      <td>
        <% if service.descriptive_text && !service.descriptive_text.empty? %>
          <i class="hover icon-list-alt pull-right" data-role="show-popover" data-placement="left" 
          data-content="<%= service.descriptive_text %>" data-original-title="<%= service.name %>" tabindex="0"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
