<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
  Sensitivities
  <span class="caret"></span>
</a>
<ul class="dropdown-menu" role="menu">
  <!-- Rate Determinants submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Rate Determinants
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=rate_determinants_path%>"><i class="icon-search"></i> Search</a></li>
      <li><a href="<%=new_rate_determinant_path%>"><i class="icon-plus"></i> Create</a></li>
    </ul>
  </li>
  <!-- Rate Results submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Rate Results
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=rate_results_path%>"><i class="icon-search"></i> Search</a></li>
      <li><a href="<%=new_rate_result_path%>"><i class="icon-plus"></i> Create</a></li>
    </ul>
  </li>
  <!-- Templates submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Rate Table Templates
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=templates_path%>"><i class="icon-search"></i> Search</a></li>
      <li><a href="<%=new_template_path%>"><i class="icon-plus"></i> Create</a></li>
    </ul>
  </li>
  <!-- Rate Tables submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Rate Tables
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=rate_tables_path%>"><i class="icon-search"></i> Search</a></li>
      <li><a href="<%=new_rate_table_path%>"><i class="icon-plus"></i> Create</a></li>
    </ul>
  </li>
  <!-- Sensitivities submenu -->
  <li class="disabled">
    <a tabindex="-1" href="#">
      Sensitivities
    </a>
  </li>
  <!-- Service Coverages submenu -->
  <li class="disabled">
    <a tabindex="-1" href="#">
      Service Coverages
    </a>
  </li>
  <!-- Service Groups submenu -->
  <li class="disabled">
    <a tabindex="-1" href="#">
      Service Groups
    </a>
  </li>
  <!-- Tariff Weeks submenu -->
  <li class="disabled">
    <a tabindex="-1" href="#">
      Tariff Weeks
    </a>
  </li>
  <!-- Tariff Zones submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Tariff Zones
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=tariff_zones_path%>"><i class="icon-search"></i> Search</a></li>
    </ul>
  </li>
  <!-- Tiers and Tapers submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Tiers and Tapers
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=tariff_tier_tapers_path%>"><i class="icon-search"></i> Search</a></li>
    </ul>
  </li>
  <!-- Zonal Coverages submenu -->
  <li class="dropdown-submenu">
    <a tabindex="-1" href="#">
      Zonal Coverages
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="<%=zonal_coverages_path%>"><i class="icon-search"></i> Search</a></li>
    </ul>
  </li>
</ul>